.user-pfp {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.card-interactions {
  display: flex;
  font-size: 2rem;
}

.card-interaction {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  margin-right: 0.75rem;
  display: flex;
  align-items: center;
}

.card-interaction.ms-auto {
  margin: 0;
}

.card-comments-nr {
  color: #999;
}

.card-comments-nr:hover {
  cursor: pointer;
  text-decoration: none;
}

/* @media screen and (max-width: 767px) {
  .card-interaction {
    font-size: 1.5rem;
  }

  .card-text {
    font-size: 0.75rem;
  }
} */

/* @media screen and (max-width: 375px) {
  .card-interaction {
    font-size: 1.2rem;
  }

  .card-text {
    font-size: 0.7rem;
  }
} */
/* 
@media screen and (max-width: 320px) {
  .card-interaction {
    margin: 0 auto 0 0;
  }
} */

@media screen and (max-width: 320px) {
  .card {
    min-width: 100%;
  }
}

@media screen and (min-width: 320px) {
  .card {
    min-width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .card {
    min-width: 40%;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    max-width: 40%;
  }
}

@media screen and (min-width: 1400px) {
  .card {
    max-width: 35%;
  }
}

.double-tap {
  animation: like 1s ease 0s 1 normal forwards;
}

@keyframes like {
  0% {
    opacity: 0.8;
    transform: scale(0.2);
  }

  80% {
    opacity: 0;
    transform: scale(1.2);
  }

  100% {
    opacity: 0;
    transform: scale(2.2);
  }
}
