.post {
  height: 50%;
  width: 100%;
}

.post-image-container {
  display: flex;
}

.post-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.row > .col-lg-6 {
  padding: 0;
}

.post-body {
  background-color: #f8f8f8;
  border: 1px solid #c2c2c2;
  border-left: none;
  border-radius: 0px 3px 3px 0px;
  display: flex;
  flex-flow: column;
}

.post-image-container {
  background-color: #ebebeb;
  border: 1px solid #c2c2c2;
  border-right: none;
  border-radius: 3px 0px 0px 3px;
}

@media screen and (max-width: 991px) {
  .post-body {
    border: 1px solid #c2c2c2;
    border-top: none;
    border-radius: 0px 0px 3px 3px;
  }
  .post-image-container {
    border: 1px solid #c2c2c2;
    border-bottom: none;
    border-radius: 3px 3px 0px 0px;
  }
}

@media screen and (max-width: 575px) {
  .post-image-container {
    border: 1px solid #c2c2c2;
    border-bottom: none;
    border-radius: 3px 3px 0px 0px;
    border-right: none;
    border-left: none;
  }
  .post-body {
    border: 1px solid #c2c2c2;
    border-top: none;
    border-radius: 0px 0px 3px 3px;
    border-right: none;
    border-left: none;
  }
}

.post-body-header {
  /* height: 4rem; */
  width: 100%;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  padding: 15px;
  flex: 0 1 auto;
}

.post-user-pfp {
  height: 2.75rem;
  width: 2.75rem;
  border-radius: 50%;
  border: 1px solid #b9b9b9;
  margin-right: 15px;
  padding: 1px;
}

.post-user-name {
  font-weight: 700;
}

.post-body-content {
  flex: 1 1 auto;
}

.post-body-footer {
  flex: 0 1 auto;
  border-top: 1px solid #e0e0e0;
}

.post-interactions {
  display: flex;
  font-size: 2rem;
  padding: 15px;
}

.post-interaction {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  margin-right: 0.75rem;
  display: flex;
  align-items: center;
}
